
:root
{
    --primary-color: #1173d4;
    --secondary-color: #ffffff;
    --font-color: #333333;
    --accent-color: #ff5722;
    --background-light: #f6f7f8;
    --background-dark: #101922;
}
body {
    background-color: var( --background-dark);
    font-family: Space Grotesk, sans-serif;
    color: var( --secondary-color);
}